body {
  background-color: #FFD505;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-family: 'Spicy Rice', cursive;
  font-size: 42px;
  margin: 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #B9A025;
  margin-top: 10px;
}